<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    OPT Application Status
  </h1>
  <p>Total: 15000 records</p>
  <!--<p>{{series['mailed']}}</p>-->

  <!--<ul class="heroes">-->

    <!--<li *ngFor="let record of series['mailed']">-->
      <!--{{record}}-->
    <!--</li>-->
  <!--</ul>-->
</div>
<div class="container">
  <div *ngIf="!dataReady" class="progress mt-3">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <chart *ngIf="dataReady" [options]="options['mailed']"></chart>
  <chart *ngIf="dataReady" [options]="options['producing']"></chart>
  <chart *ngIf="dataReady" [options]="options['received']"></chart>
</div>
